**/**/node_modules/
**/**/bin/
**/**/obj/
Source/App/Server/App_Data/Logs/
**/**/.vs/
**/**/bower_components/
Source/App/packages/
Source/App/Server/Export/
Source/App/Server/Upload/
Source/App/Client/Scripts/
