<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.22" targetFramework="net45" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="Hangfire.Core" version="1.7.9" targetFramework="net45" />
  <package id="Hangfire.SqlServer" version="1.7.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="mnailgun" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Serilog" version="2.9.0" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net45" />
  <package id="Unity" version="5.11.3" targetFramework="net45" />
</packages>