<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="EntityFramework.DynamicFilters" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Z.EntityFramework.Extensions" version="4.0.44" targetFramework="net45" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.12.10" targetFramework="net45" />
  <package id="Z.Expressions.Eval" version="3.1.2" targetFramework="net45" />
</packages>