<div class="nav navbar navbar-fixed-bottom" style="background: #218257; color: white; margin-bottom: -1px;">
    
    <footer>
        <div class="container-fluid" ng-controller="AppController">
            <p style="padding-top: 13px">
                <span class="pull-left">&copy; {{copyright | date: 'yyyy'}}, <a target="_blank" href="http://www.securebitlink.com" style="color: white">Secure Bit Link.</a></span>
                <span> &nbsp; All Rights Reserved.</span>
                <span class="pull-right">{{version}}</span>
            </p>
        </div>
    </footer>
</div>